<!doctype html>
<html>
    <head>
        <title>Sign-up</title>

        <style type="text/css">
            .error {
                color: red;
                display: inline;
                padding-left: 5px;
            }

            .shift {
                margin-left: 40px;
            }

            .shift2 {
                margin-left: 44px;
            }

            input {
                margin-top: 5px;
            }
        </style>
    </head>
    <body>

        {% block content %}
        {% endblock %}

    </body>
</html>